::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #00ff87; 
}
::-webkit-scrollbar-thumb {
  background: #38003c; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.Collection {
  text-align: center;
  width: 100%;
}

.Collection ul {
  display: inline;
}

.Collection ul .Dynamic li{
  color: white;
  font-size: 20px;
}

.Collection ul .songs li{
  color: white;
  font-size: 20px;
}

.Collection ul .playlist li{
  color: white;
  font-size: 20px;
}

.Collection ul .albums li{
  color: white;
  font-size: 20px;
}

.Collection ul .language li{
  color: white;
  font-size: 20px;
}

.Collection h3 {
  font-size: 50px;
  display: block;
  text-align: left;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-color: aqua;
}

.list {
  display: inline-block;
}